@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
  background-color: #FFD700
  ;
}
.text-primary{
  background-color:#FFD700;
}
.btn-primary{
  background-color: #FFD700;
  color: black;
  font-weight: 800;
  border: 0;
  font-size: 18px;

}
.btn-primary:hover{
  background-color: #0a0a0a;
  color:  #FFD700;
  font-weight: 800;
  transition: all 0.2s;
   text-align: center;
}