@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
  background-color: #FFD700
  ;
}
.bg-secondary{
  background-color: #f4e9e3 ;
}


.text-primary{
color:#FFD700;
}
.text-nav{
color:#050505;
}
.text-nav:hover{
color:#FFD700;
}
.btn-primary{
  background-color: #FFD700;
  color: black;
  font-weight: 800;
  border: 0;
  font-size: 18px;

}
.btn-primary:hover{
  background-color: #0a0a0a;
  color:  #FFD700;
  font-weight: 800;
  transition: all 0.2s;
   text-align: center;
}


[data-theme="dark"] {
 color: white;
}
[data-theme="light"] {
 color: black;

}