#talkbubble {
  width: 290px;
  height: 170px;
  background: rgb(240, 240, 224);
 
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid  rgb(120, 120, 113);
  border-bottom: 10px solid transparent;
  
}


.vubble {
  width: 290px;
  height: 170px;
  background: rgb(240, 240, 224);
 
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgb(248, 248, 91);
}
.vubble:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 64px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 36px solid rgb(120, 120, 113);
  border-bottom: 16px solid transparent;
  
}
