#talkbubble {
  width: 290px;
  height: 170px;
  background: rgb(240, 240, 224);
 
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 66px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 36px solid  rgb(120, 120, 113);
  border-bottom: 16px solid transparent;
  
}
.bubble {
  width: 290px;
  height: 170px;
  background: rgb(240, 240, 224);
 
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgb(248, 248, 91);
}
.bubble:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 60px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 36px solid rgb(52, 51, 48);
  border-bottom: 16px solid transparent;
  
}

.vubble {
  width: 290px;
  height: 170px;
  background: rgb(240, 240, 224);
 
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgb(248, 248, 91);
}
.vubble:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 64px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 36px solid rgb(120, 120, 113);
  border-bottom: 16px solid transparent;
  
}
